body {
  background-color: rgb(167, 203, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 4rem;
  font-family: Roboto;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgb(238, 238, 238);
  box-shadow: 0px 5px 13px 4px rgb(65, 65, 65);
  padding-top: 5px;
  width: 650px;
  height: 180px;
  margin: 40px auto;
  border-radius: 5%/20%;

}
.cardtainer {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.boardtainer {
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 5px 20px 2px rgb(62, 62, 62);
  width: 650px;
  height: 700px;
  overflow-y: scroll;
  border-radius: 7%/5%;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: 30px 1200px 30px;
}
.formtainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 5px 20px 4px rgb(84, 84, 84);
  width: 650px;
  min-height: 250px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 5%/10%;
}
.posted {
  border-radius: 5%;
}
.skinny {
  border-radius: 10%/5%;
}
.spacer {
  height: 100px;
}
.tester{
  box-shadow: 0px 5px 20px 4px rgb(#949494);
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 3.5rem;
  }
  .header {
    width: 450px;
    border-radius: 5%/10%;
  }
  .formtainer {
    width: 475px;
  }
  .boardtainer {
    width: 475px;
    border-radius: 8%/5%;
    max-height: none;
    overflow-y: visible;
  }
}