body {
  background-color: rgb(130, 190, 130);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  margin-bottom: 0px;
  font-size: 5vh;
  font-family: Roboto;
}
h2 {
  font-size: 2vh;
  margin: 25px 0px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.chart {
  margin-right: 20px;
}
.page {
  margin-top: 35px;
  width: 1100px;
  height:  1150px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 4px rgb(61, 61, 61);
  border-radius: 5%;
  text-align: center; 
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graphtainer {
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 12px 0px rgb(88, 88, 88);
  padding: 40px 20px;
  border-radius: 5%;
  margin: 25px 0px;
}
.spacer {
  margin: 10px 0px;
}

.tester{
  box-shadow: 0px 5px 20px 4px rgb(#df1414);
}